:root {
    --c-bg-prim: #171717;
    --c-bg-sec: #444444;
    --c-bg-ter: #EDEDED;
    --c-acc-blue: #00B3DA;
    --c-acc-red: #DA0037;
}

@font-face {
    font-family: Ikaros;
    src: url('../fonts/Ikaros.otf') format('opentype');
}

@font-face {
    font-family: LeonSans-Bold;
    src: url('../fonts/LeonSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: LeonSans-Light;
    src: url('../fonts/LeonSans-Light.otf') format('opentype');
}

@font-face {
    font-family: LeonSans-Medium;
    src: url('../fonts/LeonSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: LeonSans-Regular;
    src: url('../fonts/LeonSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: LeonSans-Thin;
    src: url('../fonts/LeonSans-Thin.otf') format('opentype');
}

html {
    font-size: 32px;
    color: var(--c-bg-ter);
    text-align: center;
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    margin: 0;
    padding: 0;
    background: 0;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input, textarea {
    background: none;
    border: none;
    font-family: LeonSans-Regular;
    letter-spacing: 3px;
    padding: 0;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

.flex {
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.b-blue {
    border: 2px solid var(--c-acc-blue);
    border-radius: 5px;
}

.b-red {
    border: 2px solid var(--c-acc-red);
    border-radius: 5px;
}

.b-grey {
    border: 2px solid var(--c-bg-sec);
    border-radius: 5px;
}

.b-shadow {
    position: relative;
}

.b-shadow::after {
    position: absolute;
    bottom: 6px;
    left: 6px;
    content: '';
    border-radius: 5px;
    box-shadow: 2px -2px 0 var(--c-bg-ter);
    width: 100%;
    height: 100%;
}

.highlight {
    color: var(--c-acc-blue);
}

.section-title {
    font-family: LeonSans-Bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.text {
    font-family: LeonSans-Regular;
    line-height: 2;
    font-size: .75em;
}

.text-desc {
    font-family: LeonSans-Light;
    font-size: .75em;
    letter-spacing: 2px;
}

.subtext {
    font-family: LeonSans-thin;
    font-size: .5em;
    letter-spacing: 2px;
    line-height: 2;
}

.muted {
    opacity: 50%;
}